<% layout('layout') -%>

<div class="container">

  <div id="navbar-gap" class="jumbotron" id="navbar-gap">
    <div class="containerjumbo">
      <div class="font">
      <h2 class="jumbotext">Your world, your way!</h2>
      <p class="jumbotext">Indulge on life's journey</p>
      <% if (!user) { %>
      <p><a class="btn btn-default btn-md" href="/signup" role="button">Signup &raquo;</a></p>
      <% } else { %>
        <h4 class="jumbotext">Start Shopping</h4>
        <% } %>
      </div>
    </div>
  </div>

  <div id="outer" style="width:100%">
  <div id="inner">We would love to hear from you</div>
</div>






<div id="wufoo-z1knfodc1il6v16">
Fill out my <a href="https://goodwill80.wufoo.com/forms/z1knfodc1il6v16">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
<script type="text/javascript">var z1knfodc1il6v16;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'goodwill80',
'formHash':'z1knfodc1il6v16',
'autoResize':true,
'height':'587',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1knfodc1il6v16 = new WufooForm();z1knfodc1il6v16.initialize(options);z1knfodc1il6v16.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
</div>
