<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rewards Market</title>
    <link rel="stylesheet" href="/css/custom.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Ewert|Roboto|Open+Sans+Condensed:300|Playball|Poller+One|Crimson+Text" rel="stylesheet">
  </head>

  <body>
      <% include ./partials/navbar %>


      <%- body -%>


     <% include ./partials/footer %>
     <% include ./partials/javascript %>


  </body>
</html>
