<%- layout('layout') -%>



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-globe"></i></a>Edit Profile</legend>
            <form method="post" class="form" role="form">
            <label for="name">Name</label>
            <input class="form-control" name="name" value='<%= user.profile.name %>' type="name" />
            <label for="address">Address</label>
            <input class="form-control" name="address"  value='<%= user.address %>' type="address" />
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Edit</button>
            </form>
        </div>

    </div>
</div>
