<%- layout('layout') -%>



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-globe"></i></a>Members login</legend>
            <form method="post" class="form" role="form">
            <label for="email">Email</label>
            <input class="form-control" name="email" placeholder="Your Email" type="email" />
            <label for="password">Password</label>
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Login</button>
            </form>
        </div>

    </div>
</div>
